# CAP CAPMProject
_out
*.db
*.sqlite
connection.properties
default-*.json
.cdsrc-private.json
gen/
node_modules/
target/
#73c452285e9bc727e4a29fd6990bb553a18f605816138cd8cd3c9d1c6730d944 git webhook secrate for cicd
# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea

# auto generated wildcard
db/.env